project:
  type: website
  output-dir: docs

website:
  google-analytics: "G-9QW2N0QB7G"
  title: "UMN iBUG Lab"
  favicon: media/web-favicon.png
  navbar:
    logo: media/umn-logo-hex@3x.png
    title: false
    left:
      - href: index.qmd
        text: Home
      - href: news/index.qmd
        text: News
      # - href: blog/index.qmd
      #  text: "{{< iconify file-icons rstudio size=1em >}} Notebook"
      - href: people/index.qmd
        text: People
      - research.qmd
      - publications.qmd
      - opportunities.qmd
    right:
      - href: media/lab-manual_2025-02-28.pdf # providing a relative file path to a pdf will open up a browser-based pdf viewer when clicked
        text: Lab Manual
        icon: file-pdf
        target: _blank # opens link (or page) in a new browser tab
      - text: "{{< iconify fa6-brands bluesky size=1.1em title='Bluesky' >}}"
        href: https://bsky.app/profile/jhemberger.bsky.social
        target: _blank
      - icon: github # add icons as navbar buttons
        href: https://github.com/jhemberger
        target: _blank
      - text: "{{< iconify fa6-brands orcid size=1.1em title='ORCID' >}}"
        href: https://orcid.org/0000-0003-3648-4724
        target: _blank
      - icon: envelope
        href: mailto:jhemberg@umn.edu
  page-footer:
    background: light # or `dark`
    left: Copyright 2025, Jeremy Hemberger
    center: |
      Background image: Large milkweed bug nymph aggregation (<i>Oncopeltus fasciatus</i>), 2017
    right: Built with [{{< fa brands r-project title="R Project" >}}](https://www.r-project.org/about.html){target=_blank} and [Quarto](https://quarto.org/){target=_blank}


format:
  html:
    theme: 
      - journal
      - styles.scss
    # css: styles.scss
    toc: true
    mainfont: Reddit Mono
    page-layout: full

editor: visual

